@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 auto ;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins ;
    max-width: 1040px;
}



/* nav-section */

nav{
    
    display: flex;
    justify-content: space-between;
    margin: 0 ;
    padding: 20px 0;

}

nav .brand-name{
    margin: 0;
    color:#3A3A3A ;
}

.nav-menu{
   
    display: flex;
    margin: 0%;
    align-items: center;
    color: #3A3A3A;
    font-size: 12px;

    
}

.menu-icon{
    display: none;
}

.nav-menu>*{
    margin-right: 30px;
}

/* hero section */

.hero{
   
    display: flex;
    margin-top: 20PX;
}


.hero-text{
   
    width: 50%;
    margin-left: 0;

    
    
}

.hero-text>h1{
    margin-top: 100px;
    font-size: 40px;
    color: #3A3A3A;
}

.hero-text>p{
    color: #3A3A3A;
    font-size:12px ;
    width: 76%;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 25px;

}

.hero-text>button{
    align-items: center;
    background-color:#E02C6D;
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}



.hero .hero-pic{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
   
    
    
}

.hero-pic img{
    width: 100%;
}


/* sponsor section */

.sponsor{
    max-width: 100%;
    border-top: 1px solid #3a3a3a2a ;
     border-bottom: 1px solid #3a3a3a2a ;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* card section */

.collection{
    /* border: 2px solid purple; */
    max-width: 90%;
    margin-left: 5%;
    /* border: 2px solid red; */
    
    

}



.collection>h2{
    margin-left: 37%;
    margin-bottom: 40px;
    margin-top: 60px;
    font-weight: 600;
    color: #3A3A3A;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    /* margin-left: 40px; */
    
    
    
    
    
    
}

.card{
    /* border: 2px solid red; */
    width: 280px;
    margin-left: 0%;
    padding: 10px;
    box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1);
    border-radius: 5px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card h3{
    font-size:15px ;
    margin-bottom: 10px;
}

.card .pay{
    font-size: 14px;
    margin-bottom: 12px;

    
}

.card .para{
    font-size: 12px;
    
}

.see-more{
    color: #E02C6D;
    text-align: end;
    margin-right: 7%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 35px;
}

/* feature section */

.feature{

    /* border: 2px solid purple; */
    display: flex;
    margin-top: 35px;
    padding: 20px;
    gap: 10%;
}

.feature .feature-text{
    margin-top: 5%;
}

.feature-text h2{
    color:#0A0826 ;
    font-size:28px ;
    font-weight: 700;

}

.feature-text p{

    margin-top: 20px;
    margin-bottom: 25px;
     color: #6C6C6C;
    font-size:12px ;
    font-weight: 600;
    

}

.feature button{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 7px;
    font-weight: 600;
}

footer{
    background-color:black ;
    color: white;
    text-align: center;
    margin-top: 80px;
    /* border: 2px solid wheat; */
    padding: 50px ;
    width: 100%;
}

footer h3{
    margin-bottom: 15px;
}

footer p{
    color: #756b6b;
    margin-bottom: 5px;
    font-size: 12px;

}

footer .icon>*{
   /* border: 2px solid red; */
   margin: 10px 10px;

    
}











/* responsive section */

@media screen and (max-width: 576px) {

    .navbar>*{
        
        justify-content: center;
        
    }
    .nav-menu>*{
        display: none;
        
        
    }

    

    .menu-icon{
        display: inline;
        position: absolute;
        left: 5%;
    }
     

    .nav-cart{
        display: inline;
        position: absolute;
        right: 5%;
    }

    .hero{
        
        flex-direction: column-reverse;

        
        
        
    }

    .hero-text{

        position: relative;
        left: 15%;
        width: 60%;
       
    }
    .hero-text h1{
          margin-top: 20px;
    font-size: 22px;
    color: #3A3A3A;
    text-align: center;


    }

    .hero-text>p{
    
    font-size:10px ;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 25px;

}

.hero-text>button{
   margin-left: 25%;
    font-weight: 700;
}

    

    .hero-pic{
       
        margin-left: 20%;
    }
    .hero-pic img{
        width: 70%;
        
    }

    .sponsor{
        margin-right: 0;
        flex-wrap: wrap;
        gap:20px
    }

    .collection>h2{
    margin-left: 21%;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: 600;
    color: #3A3A3A;
}




    .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    /* margin-left: 20%; */
    /* width: 100%; */
    padding: 5%;
    /* margin-left: 0%; */
    /* margin-right: 0%; */
    
    
    
    
}

.card{
    width: 320px;
}

.see-more{
    
    width: 40%;
    text-align: center;
    margin-right: -8%;
}

.feature{
    flex-direction: column-reverse;
}

.feature-img img {

    width: 99%;
    margin-left: 2%;

}    


.feature-text {
    text-align: center;
}

.feature-text button{
    margin-bottom: 25px;
}

footer{
    margin: 0 1%;
}






}


/* tab-responsive */

@media screen and (min-width:576px) and (max-width:992px) {

    nav .brand-name{
        margin: 0 1%;
    }

    .nav-menu>*{
    margin-right: 12px;
}

.hero-text{
   
    width: 40%;
    margin-left: 2%;

    
    
}

.hero-text>h1{
    margin-top: 80px;
    font-size: 30px;
    
}

.hero-text>p{
    font-size: 10px;
}

.hero-text>button{
    padding: 5px 7px;
    font-weight: 600;
}

.hero-pic{
    margin-right: -12%;
}


 .hero-pic img{
        width: 80%;
        
        
    }

    .hero .hero-pic{
    
    background-size: 80%;
   
    
    
}

 .sponsor{
        margin-right: 0;
        flex-wrap: wrap;
        gap:40px;

        margin-top: 80px;
    }


    .collection{
        margin: 0;
    }

    .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    /* margin-left: 20%; */
    /* width: 100%; */
    padding: 5%;
    }

    .see-more{
        margin-right: 50%;
    }

    .feature{
    flex-direction: column-reverse;
}

.feature-img img {

    width: 99%;
    margin-left: 2%;

}   
.feature-text {
    text-align: center;
}

.feature-text button{
    margin-bottom: 25px;
}

footer{
    /* margin: 0 2%; */

}



















    
}
